@media (max-width: 1023px) {
  .wrapper {
    min-width: 768px;
  }
  .wrapper .inner {
    width: 768px;
  }
  .wrapper header.active {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .wrapper header.active .nav-bar {
    display: block;
  }
  .wrapper header.active .search_panel {
    display: block;
  }
  .wrapper header.active .mob_info {
    display: block;
  }
  .wrapper header.active .inner {
    padding: 18% 0;
  }
  .wrapper header .logo {
    left: 14px;
  }
  .wrapper header .social {
    display: none;
  }
  .wrapper header .mob_info {
    width: 100%;
    font: 400 15px/30px 'Dopis', sans-serif;
    text-align: center;
  }
  .wrapper header .mob_info a {
    color: #2b2b2a;
  }
  .wrapper header .mob_info a.wide {
    letter-spacing: 2px;
  }
  .wrapper header .nav-bar {
    display: none;
    position: static;
    width: 100%;
    text-align: center;
  }
  .wrapper header .nav-bar a {
    display: block;
    margin: 0 0 40px;
    text-decoration: none;
  }
  .wrapper header .nav-bar a:hover:before {
    display: none;
  }
  .wrapper header .search {
    display: none;
  }
  .wrapper header .inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrapper header .search_panel {
    max-width: 500px;
  }
  .wrapper header .mob_btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 14px;
    top: 44px;
  }
  .wrapper header .mob_btn.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .wrapper header .mob_btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .wrapper header .mob_btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .wrapper header .mob_btn.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .wrapper header .mob_btn span {
    height: 5px;
    width: 100%;
    background-color: #000;
    position: absolute;
    display: block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .wrapper header .mob_btn span:nth-child(1) {
    top: 0px;
  }
  .wrapper header .mob_btn span:nth-child(2),
  .wrapper header .mob_btn span:nth-child(3) {
    top: 18px;
  }
  .wrapper header .mob_btn span:nth-child(4) {
    top: 36px;
  }
  .wrapper footer {
    height: auto;
  }
  .wrapper footer .logo {
    width: auto;
    height: auto;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
  }
  .wrapper footer .block {
    padding: 30px 20px 70px;
  }
  .wrapper footer .block .item:nth-child(1) {
    justify-content: space-between;
  }
  .wrapper footer .block .item .social {
    position: static;
    margin-left: -47px;
  }
  .wrapper footer .created {
    background-color: transparent;
    position: absolute;
    top: auto;
    bottom: 0;
    height: 100px;
  }
  .wrapper footer .created span {
    top: 34px;
    left: 20px;
  }
  .wrapper.main-page .top-section {
    height: 100vh;
  }
  .wrapper.main-page .top-section .inner .sidebar {
    width: 312px;
  }
  .wrapper.main-page .top-section .inner .sidebar .text {
    right: 50px;
  }
  .wrapper.main-page .top-section .inner .block {
    padding: 250px 0 0 120px;
  }
  .wrapper.main-page .top-section .inner .block .title {
    font: 700 46px/46px 'Dopis', sans-serif;
    width: 320px;
  }
  .wrapper.main-page .problems {
    margin: 110px 0 0 0;
    padding-left: 60px;
  }
  .wrapper.main-page .problems .info {
    width: 100%;
  }
  .wrapper.main-page .problems .info .section-title {
    font: 700 46px/48px 'Dopis', sans-serif;
  }
  .wrapper.main-page .problems .info .name {
    width: 670px;
  }
  .wrapper.main-page .problems .remedy {
    float: none;
    margin: 0 auto;
    width: 500px;
  }
  .wrapper.main-page .products {
    margin-top: 120px;
    padding: 80px 0 0 70px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrapper.main-page .products .section-title {
    font: 700 46px/48px 'Dopis', sans-serif;
    top: -23px;
  }
  .wrapper.main-page .products .image {
    margin: 40px 0 0 160px;
  }
  .wrapper.main-page .products .button {
    left: 56px;
  }
  .wrapper.main-page .features {
    padding: 50px 0 60px 100px;
    margin: 130px 0 0 0px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrapper.main-page .features .border {
    width: 660px;
    height: 690px;
  }
  .wrapper.main-page .features .image {
    height: 550px;
    margin-left: 90px;
    margin-top: 80px;
  }
  .wrapper.main-page .features .image .button {
    top: 0;
  }
  .wrapper.main-page .features .image span {
    right: -120px;
    font: 700 16px/21px 'Dopis', sans-serif;
  }
  .wrapper.main-page .feedback {
    margin: 0 100px 0 70px;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center 70px;
    padding: 100px 0 0 30px;
  }
  .wrapper.main-page .feedback .section-title {
    font: 700 46px/76px 'Dopis', sans-serif;
  }
  .wrapper.main-page .blog .section-title {
    font: 700 46px/48px 'Dopis', sans-serif;
  }
  .wrapper.main-page .blog .button {
    margin-left: 464px;
  }
  .wrapper.main-page .where-to-buy .image {
    width: 220px;
    height: 490px;
    padding: 130px 0 0 60px;
    background: #ff5251 url(../img/where_to_buy.png) -10% 0 no-repeat;
  }
  .wrapper.catalog header .mob-category-title {
    display: block;
    font: 700 18px/18px 'Dopis', sans-serif;
    cursor: pointer;
    position: relative;
    padding: 30px 20px 0 0;
    color: #2b2b2a;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
  }
  .wrapper.catalog header .mob-category-title.active {
    color: #ff5251;
  }
  .wrapper.catalog header .mob-category-title.active:after {
    -webkit-transform: rotate(45deg) rotateX(-180deg);
    -ms-transform: rotate(45deg) rotateX(-180deg);
    -o-transform: rotate(45deg) rotateX(-180deg);
    transform: rotate(45deg) rotateX(-180deg);
    border-color: #ff5251;
    bottom: 7px;
  }
  .wrapper.catalog header .mob-category-title:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px #2b2b2a solid;
    border-left: 2px #2b2b2a solid;
    -webkit-transform: rotate(-45deg) rotateX(0deg);
    -ms-transform: rotate(-45deg) rotateX(0deg);
    -o-transform: rotate(-45deg) rotateX(0deg);
    transform: rotate(-45deg) rotateX(0deg);
    right: 0;
    bottom: 7px;
    -webkit-transition: border-color 0.3s, transform 0.3s;
    -o-transition: border-color 0.3s, transform 0.3s;
    transition: border-color 0.3s, transform 0.3s;
  }
  .wrapper.catalog main .inner .sidebar {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    height: 480px;
    padding-top: 0;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    width: 320px;
    padding-top: 50px;
    display: none;
    -webkit-box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 13px 0px rgba(0, 0, 0, 0.3);
  }
  .wrapper.catalog main .inner .sidebar.active {
    display: block;
  }
  .wrapper.catalog main .inner .sidebar .title {
    display: none;
  }
  .wrapper.catalog main .inner .sidebar .block {
    width: 320px;
  }
  .wrapper.catalog main .inner .sidebar .block .item {
    height: 100px;
    padding: 0 36px 0 12px;
  }
  .wrapper.catalog main .inner .sidebar .block .item a {
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
  }
  .wrapper.catalog main .inner .sidebar .block .item a .text {
    padding: 0;
  }
  .wrapper.catalog main .inner .sidebar .block .item a .image {
    width: 90px;
    height: 100px;
  }
  .wrapper.catalog main .inner .sidebar .block .item a .image img {
    width: 100%;
  }
  .wrapper.catalog main .inner .catalog-content {
    width: 100%;
    padding: 0 30px;
  }
  .wrapper.catalog main .inner .catalog-content .filter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 290px;
    margin: 50px auto 28px;
    position: relative;
  }
  .wrapper.catalog main .inner .catalog-content .filter.active {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.3);
  }
  .wrapper.catalog main .inner .catalog-content .filter .item {
    cursor: pointer;
    position: static;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(1) {
    margin-bottom: 0;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(1) .name {
    padding: 13px 35px 11px;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(1) .name:after {
    right: 30px;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(1) .checks .check.clear {
    display: block;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(2) .name {
    padding: 13px 18px 11px 14px;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(2) .name:after {
    right: 14px;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item:nth-child(2) .checks .check label {
    padding: 3px 0 0;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item.active .name {
    background-color: #e0e0e0;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item.active .name:after {
    -webkit-transform: rotate(45deg) rotateX(-180deg);
    -ms-transform: rotate(45deg) rotateX(-180deg);
    -o-transform: rotate(45deg) rotateX(-180deg);
    transform: rotate(45deg) rotateX(-180deg);
    bottom: 20px;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item.active .checks {
    display: flex;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .name {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    top: auto;
    z-index: 3;
    background-color: #fff;
    border: 1px #e0e0e0 solid;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .name:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px #2b2b2a solid;
    border-left: 2px #2b2b2a solid;
    -webkit-transform: rotate(-45deg) rotateX(0deg);
    -ms-transform: rotate(-45deg) rotateX(0deg);
    -o-transform: rotate(-45deg) rotateX(0deg);
    transform: rotate(-45deg) rotateX(0deg);
    bottom: 20px;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks {
    top: 46px;
    left: 0;
    background-color: #fff;
    display: none;
    width: 100%;
    z-index: 2;
    border: 1px #e0e0e0 solid;
    position: absolute;
    padding: 20px 0 0;
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.3);
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check {
    width: 100%;
    margin-bottom: 12px;
    padding: 0 28px;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check input:checked + label {
    color: #2b2b2a;
    background-color: transparent;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check input:checked + label:before {
    border-color: #fff;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check input:checked + label:after {
    background-color: #ff5251;
    border-color: #ff5251;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check label {
    border: 0;
    width: 100%;
    padding: 3px 0 0;
    font: 400 15px/20px 'Dopis', sans-serif;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check label:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 1px #8a8a8a solid;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks .check label:before {
    left: auto;
    right: 7px;
    z-index: 1;
    top: 58%;
    border-color: transparent;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks button {
    height: 42px;
    width: 100%;
    display: block;
    border: 0;
    font: 300 15px/15px 'Dopis', sans-serif;
    background-color: #ff5251;
    color: #fff;
    cursor: pointer;
  }
  .wrapper.catalog main .inner .catalog-content .filter .item .checks button.check.clear {
    border: 0;
    margin: 0;
    width: 100%;
  }
}
